<div class="modal-wrapper">
    <div class="modal-header">{{ 'tk.game-setup-modal.title.setup' | translate }}</div>
    <div class="modal-content">
        <div>
            <p>{{ 'tk.game-setup-modal.label.players' | translate }}</p>
            <ul>
                @for (player of data.players; let index = $index; track index) {
                    <li>
                        {{ player.name }} (<span>{{ player.num }}</span
                        >)
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="modal-actions">
        <button
            mat-flat-button
            color="primary"
            appNonFocusable
            (click)="onOk()">
            {{ 'tk.general.label.button.continue' | translate }}
        </button>
    </div>
</div>
